@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-color: #c2c5ce #1f222a;
  }
  body {
    @apply text-white;
    @apply bg-grey-600;
    @apply mb-16 md:mb-0;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
  }

  body * {
    -webkit-tap-highlight-color: transparent;
  }
  body *::selection {
    background-color: #fceb54;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-obviously-narrow);
  }

  img {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }

  /* Scroll bar stylings */
  ::-webkit-scrollbar {
    @apply size-1;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-grey-100;
    @apply rounded;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-grey-50;
  }
}

.carousel-height {
  height: 320px;

  @media (min-width: 900px) {
    height: 511px;
  }
}

.wallet-adapter-button-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  padding: 14px;
  border-radius: 8px !important;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  background: #fceb54 !important;
  color: #15171c !important;
}

.wallet-adapter-dropdown-list {
  display: none;
}

.wallet-adapter-button-trigger:hover {
  filter: brightness(1.05);
  background: #fceb54 !important;
}

.wallet-adapter-modal-wrapper .wallet-adapter-modal-button-close {
  background-color: #15171c !important;
}

.wallet-adapter-modal-list .wallet-adapter-button:hover {
  background-color: #1f222a !important;
}
.connect-wallet-dialog .wallet-adapter-dropdown {
  width: min-content;
}

.comic-banner-standard {
  background: linear-gradient(
    rgba(21, 23, 28, 0.2) 0%,
    rgba(21, 23, 28, 0.2) 16%,
    rgba(21, 23, 28, 0.75) 72%,
    rgb(21, 23, 28) 100%
  );
}

.comic-banner-simpler {
  background: linear-gradient(
    rgba(21, 23, 28, 0) 0%,
    rgba(21, 23, 28, 0.05) 85%,
    rgba(21, 23, 28, 0.75) 92%,
    rgb(21, 23, 28) 100%
  );
}

.comic-issue-banner-standard {
  background: linear-gradient(rgba(21, 23, 28, 0.85) 0%, rgb(21, 23, 28) 100%);
}

.comic-issue-banner-simpler {
  background: linear-gradient(
    rgba(21, 23, 28, 0.2) 0%,
    rgba(21, 23, 28, 0.2) 16%,
    rgba(21, 23, 28, 0.75) 72%,
    rgb(21, 23, 28) 100%
  );
}
